/* common styling */
.nav-custom{
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-size:1.2rem;
  background-color:#082032;
  
  
  
  
}
body{
  font-family: 'Roboto', sans-serif;
}
#heading{
  background-color: #2C394B;
  
  color:white;
  overflow-x: hidden;
  height:18rem;
}
.custom-text{
  font-size: 1.2rem;
}
.dragon{
  color:yellow;
  font-size:3.5rem;
}

.image-1{
  font-size:30px;
}
.color{
 background-color:#ffd000;
  
}
#team-name{
  background-image: linear-gradient(orange,tomato);
}
#research{
  overflow-x: hidden;
}
.image-1{
  width:100%;
  
}
.custom-4{
  margin-top:12rem;
}
.custom-3{
  margin-top:4rem;
}
.custom-2{
margin-top:5rem;
}
.custom-1{
margin-top:11rem;
}
.footer{
  background-color: black;
  color:white;
  height:10rem;
}
#team-name-footer{
  color:orange;
}
.color-1{
  background-color:#00c057;
}
.custom-card{
  transition: transform 1s linear 0.2s;
  box-shadow: 10px 10px  5px grey;
}
.custom-card:hover{
  transform: translateY(-3rem)
}
#member{
  border-radius:50%;
  width:50%;
  height:50%;
}
#first-text{
  font-size:1.5rem;
}
.client-image{
  width:9.313rem;
  height:9.313rem;

}
.user-3{
  border-radius:50%;
}
#mahdi{
  padding-left:10px;
}
#tag{
  width:10%;
  height:30%;
}